extends layout 

block content
    div.detail-container 
        span.detail-card 
            img(src= item.imageURL).detail-item-img
            div.detail-info
                p.detail-name #{item.name}
                    a(href= item.url + "/edit").edit-link
                        img(src="/images/pencil.svg", alt="").edit-img
                    a(href= item.url + "/delete").delete-link 
                        img(src="/images/delete.svg", alt="").delete-img
                p.detail-tax MRP inclusive of all taxes
                p.detail-price= item.price
                .size-selector 
                    each val in item.sizes 
                        button(onclick=`selectSize('${val}')`).size-button=  val
                button.add-to-bag Add to Bag
                div.product-description-fit
                    div.product-description-fit-title Description & fit
                    div.product-description= item.description
                    div.product-fit
                    each val in item.fit
                        p.fit= val
    
    