extends layout 

block content
    div.detail-container 
        span.detail-card 
            img(src= shoe.imageURL).detail-item-img
            div.detail-info
                p.detail-name #{shoe.name}
                p.detail-tax MRP inclusive of all taxes
                p.detail-price= shoe.price
                .size-selector 
                    each val in shoe.sizes 
                        button(onclick=`selectSize('${val}')`).size-button=  val
                button.add-to-bag Add to Bag
                div.product-description-fit
                    div.product-description-fit-title Description & fit
                    div.product-description= shoe.description
                    div.product-fit
                    each val in shoe.fit
                        p.fit= val
    
    